<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-home m-auto text-primary"></i>
          </div>
          <h3>Our Moto!</h3>
          <p class="lead mb-0">We're not selling houses, we're selling<i>happiness</i>!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-organization m-auto text-primary"></i>
          </div>
          <h3>Buying and Selling!</h3>
          <p class="lead mb-0">Content!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-people m-auto text-primary"></i>
          </div>
          <h3>CBRB ranked number 1!</h3>
          <p class="lead mb-0">Content</p>
        </div>
      </div>
    </div>
  </div>
</section>