 <!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">The Team</h2>
    <div class="row">
      <div class="col-lg-6">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag 'julia-round.jpg', class: "img-fluid rounded-circle mb-3" %>
          <h5>Julia Valentine.</h5>
          <p class="font-weight-light mb-0">"We specialize in Fountain Hills, Phoenix, Scottsdale, Biltmore, Chandler, Gilbert, Rio Verde and surrounding areas!"</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag 'tabitha.jpg', width: 100, class: "img-fluid rounded-circle mb-3" %>
          <h5>Tabitha Valentine</h5>
          <p class="font-weight-light mb-0">"We won't stop till we find you the right home!"</p>
        </div>
      </div>
    </div>
  </div>
</section>